body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin: 0 auto;
    padding: 20px;
    max-width: 700px;
    background-color: #edebe6;
}

h1, h2, h3 {
    color: #000000;
}

a {
    color: #448dd6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 25px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #48bc4b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.auth-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
